@font-face {
  font-family: 'Roboto-Light';
  font-weight: normal;
  font-style: normal;

  src: url('Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  font-style: normal;

  src: url('Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'American_Captain_Cyrillic';
  font-weight: normal;
  font-style: normal;

  src: url('American_Captain_Cyrillic.ttf') format('truetype');
}
@font-face {
  font-family: 'counter_strike';
  font-weight: normal;
  font-style: normal;

  src: url('counter_strike.ttf') format('truetype');
}
